@use "./colors" as *;
@use "./mixins" as *;

.tablePage {
  background-color: $fith;

  .btn {
    margin-bottom: 40px;
  }

  .tableTitle {
    margin-top: 60px;
    font-size: 40px;
    color: $main;
    font-family: "Times New Roman", Times, serif;
    position: relative;
  }

  .tableTitle::before {
    content: "";
    position: absolute;
    left: -65px;
    top: 50%;
    width: 50px;
    height: 2px;
    background-color: $main;
  }

  .tableTitle::after {
    content: "";
    position: absolute;
    right: -65px;
    top: 50%;
    width: 50px;
    height: 2px;
    background-color: $main;
  }

  .tableRow {
    font-weight: 700;
    color: $main;
    width: 150px;
    border: 1px solid $main;

    .brandLogo {
      border: 1px solid $ternary;
      max-width: 120px;
      max-height: 80px;
    }
  }

  .review {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    background-color: $light;

    .table {
      margin-top: 40px;
      position: relative;
      padding: 45px;
      height: 500px;
      overflow: scroll;
      border: 1px solid $main;
      border-radius: 15px;
      box-shadow: 0px 0px 10px $main;

      .tableHeader {
        color: $fith;
        background-color: $main;
        box-shadow: 0px 0px 5px $fourth;
        border: 1px solid $main;

        th {
          padding: 15px 0px;
        }
      }

      .tableBox {
        width: 100%;
        border-collapse: separate;
        border-color: $main;
      }

      .tableBody {
        background-color: $light;
        box-shadow: 0px 0px 5px $fourth;
        border: 1px solid $main;

        :hover :not(.editIcon, .deleteIcon) {
          background-color: $fith;
        }
      }

      .rowBox {
        margin-bottom: 5px;
        height: 150px;

        .editIcon {
          color: $secondary;
          margin: 10px 0px;
          width: 100px;

          :hover {
            color: $main;
          }
        }
        .deleteIcon {
          color: $secondary;
          margin: 10px 0px;
          width: 100px;

          :hover {
            color: $danger;
          }
        }
      }
    }

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin: 0;
    }
    image {
      padding: 20px;
    }
  }
}
