@use "./colors" as *;
@use "./mixins" as *;

.welcome {
  background-image: url("../../../public/pexels-pixabay-327430.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  .btn-ui {
    @include button($success, $light);

    text-align: center;
    padding: 25px;
    width: 300px;
    box-shadow: 0px 0px 20px $success;
    z-index: 1;
  }
  a {
    text-decoration: none;
  }

  .title {
    font-family: "Courier New", Courier, monospace;
    z-index: 1;
    color: $light;
  }
}
